<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"><%= @site_info.welcome_message %></div>
      <div class="intro-heading text-uppercase">
        <%= @site_info.page_title %>
      </div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">
        <%= @site_info.call_to_action %>
      </a>
    </div>
  </div>
</header>
